
@{
    ViewBag.Title = "Distancia entre dos puntos";
}

<h2>Distancia entre 2 puntos</h2>

<form action="calcular" method="post">
    <label for="X1">X1</label>
    <input id="X1" type="number"/>
    <label for="X2">X2</label>
    <input id="X2" type="number"/>
    <label for="Y1">Y1</label>
    <input id="Y1" type="number"/>
    <label for="Y2">Y2</label>
    <input id="Y2" type="number"/>
    <input type="submit" value="Calcular" />
</form>

