@model IDGS904_tema1.Models.Distancia

@{
    ViewBag.Title = "Index";
}

<h2>Distancia entre 2 puntos</h2>

<form action="calcular" method="post">
    <label for="X1">X1</label>
    <input id="X1" type="number" name="X1"/>
    <label for="Y1">Y1</label>
    <input id="Y1" type="number" name="Y1"/>
    <label for="X2">X2</label>
    <input id="X2" type="number" name="X2"/>
    <label for="Y2">Y2</label>
    <input id="Y2" type="number" name="Y2"/>
    <input type="submit" value="Calcular" />
</form>

<h2>La sitancia entre los puntos es @ViewBag.Res</h2>

